@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background:url('https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    width: 95%;
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 20px 70px;
    margin: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.current-info{
    width: 300px;
    color: white;
    border-bottom: none;
    background-color: rgb(236, 158, 154, 0,2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:left;
    flex-direction: column;
 }
    /*
    width: 300px;
    color:#eee;
    background-color: #ccc; */

.date-container{
    font-weight: 100;
    width: 100%;
}
.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: start;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;
    font-weight: 700;
}

 .others{
    display: flex;
    flex-direction: column;
    background-color:white;
    padding:20px;
    margin: 5px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #eee;
    width: 100%;
}
/* rgb(236, 158, 154,); */
.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}

.future-forecast{
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color:white;
    width: 300px;
    height: 100%;
    max-height: 420px;
    overflow-y:scroll;
}

::-webkit-scrollbar { 
    display: none; 
}



.future-forecast .today{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
    flex-direction: column;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5 10px;
    border: 1px solid #eee;
    padding: 15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 12px;
}
 #countryOther{
    background-color:#EC9E9A;
    width: 100%;
    max-height: 60px ;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
 }

 #maxOther{
    background-color:#EC9E9A;
    width: 100%;
    max-height: 60px ;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
 }
 
 #minOther{
    background-color:#EC9E9A;
    width: 100%;
    max-height: 60px ;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
 }
 


@media only screen and  (max-width:780px){
    
    .container{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .future-forecast{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: none;
        height: 100%;
        max-height: 420px;
        overflow-y: scroll;
    }

    .future-forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }

}

@media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: start;
        height: 100%;
        max-height: 420px;
        overflow-y: scroll;
    }
}


/* ============================ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.weather-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid white;
    max-width: 320px;
    text-align: center;
    padding: 20px 20px 50px;
    margin: 10% auto 0;
    border-radius: 9px;
}
.weather-content h1{
    font-size: 34px;
    margin-bottom: 10px;
    color: #FFF;
}
.weather-content p{
    color: #FFF;
    text-shadow: 2px 2px 2px rgb(93, 91, 91, 1);
    font-weight: bold;
}
.result{
    margin-bottom: 8%;
}
.result p{
    margin: 5px 0 5px;
}
.result h2{
    font-size: 70px;
    line-height: 70px;
    margin: -10px 0 10px;
    color: #fff;
}
.result h5{
    font-size: 21px;
    margin: 2px;
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
}
form input[type="text"], form input[type="submit"], form select{
    width: 100%;
    margin: 0px 0 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
}
form input[type="submit"]{
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #EC9E9A;
    border: 1px solid #EC9E9A;
    color: #fff;
    font-weight: 600;
    transition: width 1s;
}
form input[type="submit"]:hover{
    width: 50%;
}
.alert-message {
    margin: 24px 0 0;
    color: rgb(243, 247, 247)!important;
    text-shadow: 1px 1px 1px black;
}