html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}
/* Style the search bar */
.search-bar {
    display: grid;
    grid-template-columns: 4fr 1fr; /* Divide into two columns */
    align-items: center; /* Vertically center items */
    justify-content:center
    width: 100%;
    margin-bottom: 5px;
}

    /* Style the input field */
    .search-bar input[type="text"] {
        width: 100%; /* Adjust width as needed */
        margin-right: 10px;
    }

    /* Style the button */
    .search-bar button {
        width: 100%; /* Adjust width as needed */
    }

.Button-Forecast {
    margin-top: 20px; /* Add margin to separate from other elements */
    text-align: center; /* Center the button */
}

    .Button-Forecast button {
        padding: 10px 20px; /* Add padding to the button */
    }